.hero {
  display: block;
  margin: 50px auto;
  padding: 0 auto;
}

body {
  background: linear-gradient(
    0deg,
    rgba(34, 192, 242, 1) 0%,
    rgba(216, 164, 241, 0.26094187675070024) 100%
  );
  background-repeat: no-repeat;
  font-family: "Source Serif Pro", serif;
}

h1 {
  font-weight: bold;
  font-size: 46px;
  height: 1.5;
}

h2 {
  font-weight: normal;
  font-size: 32px;
  height: 1.5;
  margin: 45px 0;
}
footer {
  font-size: small;
  text-align: center;
}
