.hero {
  display: block;
  margin: 50px auto;
  padding: 0 auto;
}

body {
  background: linear-gradient(
    0deg,
    rgba(34, 192, 242, 1) 0%,
    rgba(216, 164, 241, 0.26094187675070024) 100%
  );
  background-repeat: no-repeat;
  font-family: "Source Serif Pro", serif;
}

h1 {
  font-weight: bold;
  font-size: 46px;
  line-height: 1.5;
}

h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.5;
  margin: 45px 0;
}

h3 {
  font-weight: bolder;
  font-size: 28px;
}

.projects-link,
.contact-link,
.weather-link,
.amigurumi-link {
  border: 1px solid #212529;
  border-radius: 5px;
  background-color: #212529;
  color: white;
  text-decoration: none;
  padding: 15px 15px;
  margin-right: 25px;
  font-size: 16px;
}

.heading {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}
.description {
  font-size: 18px;
  line-height: 1.5;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 40px;
  margin-bottom: 40px;
}

footer {
  font-size: small;
  text-align: center;
}

.card {
  width: 100px 200px;
  background: transparent;
  color: black;
  display: flex;
  margin-right: 45px;
  margin-left: 45px;
}
.card-body {
  border: 1px solid black;
  border-radius: 4px;
}
.form-control {
  background: transparent;
  border: 1px solid black;
  border-radius: 4px;
}

.contact-me {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 100px;
  font-size: 24px;
  font-weight: bolder;
  line-height: 2;
}
button {
  border: 1px solid #212529;
  border-radius: 5px;
  background-color: #212529;
  color: white;
  padding: 10px 25px;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: normal;
}
button:hover {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: #212529;
  transition: 200ms ease-in-out;
}
.portret {
  width: 100%;
}
.box-data {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
    margin-top: 35px;
  }
  .container {
    display: block;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .weather-link,
  .amigurumi-link {
    border: 1px solid #212529;
    border-radius: 5px;
    background-color: #212529;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 14px;
  }
  .heading {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .contact-me {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0;
    font-size: 18px;
    font-weight: bolder;
    line-height: 2;
  }
  .box-data {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
