.hero {
  display: block;
  margin: 50px auto;
  padding: 0 auto;
}

body {
  background: linear-gradient(
    0deg,
    rgba(34, 192, 242, 1) 0%,
    rgba(216, 164, 241, 0.26094187675070024) 100%
  );
  background-repeat: no-repeat;
  font-family: "Source Serif Pro", serif;
}

h1 {
  font-weight: bold;
  font-size: 46px;
  height: 1.5;
}

h2 {
  font-weight: normal;
  font-size: 32px;
  height: 1.5;
  margin: 45px 0;
}

.projects-link,
.contact-link {
  border: 1px solid #212529;
  border-radius: 5px;
  background-color: #212529;
  color: white;
  text-decoration: none;
  padding: 15px 15px;
  margin-right: 25px;
  font-size: 16px;
}

footer {
  font-size: small;
  text-align: center;
}
